@model FSU600_DATA_STORAGE_AND_MODELLING.Models.Apartments

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Apartment</h1>

<style> h3 { background-color: #f18973; } </style>

<h3>Are you sure you want to delete this apartment?</h3>
<div>
    @*<h4>Apartments</h4>*@
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WholeFloor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WholeFloor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
