@model IEnumerable<FSU600_DATA_STORAGE_AND_MODELLING.Models.Requests>

@{
    ViewData["Title"] = "Requests List";
}

<h1>Requests List</h1>

<p>
    <a asp-action="Create">Create New Request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
